<header class="header">
  <div class="container">
    <a href="../index.html" class="logo"></a>

  
  <button type="button" class="header__button">
    <svg class="header__icon" width="90" height="90">
      <use href="../images/sprite.svg#burger-menu"></use>
    </svg>
  </button>

  <div class="menu-container">
    <button type="button">
      <svg weight="18" height="18">
        <use href="../images/sprite.svg#close-button"></use>
      </svg>
    </button>

    <ul>
      <li>
        <a href="">home</a>
      </li>

      <li>
        <a href="">about</a>
      </li>

      <li>
        <a href="">team</a>
      </li>

      <li>
        <a href="">booking</a>
      </li>

      <li>
        <a href="">menu</a>
      </li>

      <li>
        <a href="">gallery</a>
      </li>

      <li>
        <a href="">events</a>
      </li>

      <li>
        <a href="">contact</a>
      </li>
      
    </ul>
  </div>
  </div>
</header>

<!-- hero -->
<section>
  <p> restaurant</p>
  <h1>hungry people</h1>

  <button type="button">book table</button>

  <button type="button">explore</button>

  <ul>
    <li>
      <a href=""> <svg weight="40" height="40">
        <use href="../images/sprite.svg#facebook"></use>
      </svg>
    </a>
    </li>

    <li>
      <a href=""> <svg weight="40" height="40">
        <use href="../images/sprite.svg#twitter"></use>
      </svg>
    </a>
    </li>

    <li>
      <a href=""> <svg weight="40" height="40">
        <use href="../images/sprite.svg#instagram"></use>
      </svg>
    </a>
    </li>
  </ul>

  <p>Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM</p>

  <button type="button"></button>
</section> 
